EmployeeClient/Connected Services/EmployeeServices/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:ArrayOfEmployee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmployee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Employee_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="First_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Last_name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Departmentid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Roleid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="is_admin" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="on_duty" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="date_joined" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone_number" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HolidayEntitlement" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExtraDays" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HolidayEntitlements" type="tns:ArrayOfHolidayEntitlement" />
          <s:element minOccurs="0" maxOccurs="1" name="HolidayRequests" type="tns:ArrayOfHolidayRequest" />
          <s:element minOccurs="0" maxOccurs="1" name="Department" type="tns:Department" />
          <s:element minOccurs="0" maxOccurs="1" name="Role" type="tns:Role" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHolidayEntitlement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HolidayEntitlement" nillable="true" type="tns:HolidayEntitlement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HolidayEntitlement">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HolidayEntitlementID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Entitlement_days_left" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Extra_days" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Employee" type="tns:Employee" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHolidayRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HolidayRequest" nillable="true" type="tns:HolidayRequest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HolidayRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HolidayRequestID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="start_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="end_date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="approved" nillable="true" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="HolidayReqConstraints" type="tns:ArrayOfHolidayReqConstraint" />
          <s:element minOccurs="0" maxOccurs="1" name="Employee" type="tns:Employee" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHolidayReqConstraint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HolidayReqConstraint" nillable="true" type="tns:HolidayReqConstraint" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HolidayReqConstraint">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HolidayReqConstraintsID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HolidayRequestID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ConstraintID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HolidayRequest" type="tns:HolidayRequest" />
          <s:element minOccurs="0" maxOccurs="1" name="Constraint" type="tns:Constraint" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Constraint">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ConstraintID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HolidayReqConstraints" type="tns:ArrayOfHolidayReqConstraint" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Department">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Departmentid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Department_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Employees" type="tns:ArrayOfEmployee" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Role">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Roleid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Role_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Employees" type="tns:ArrayOfEmployee" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://stuiis.cms.gre.ac.uk/ka5054d/HolidayBookingSystem/EmployeeWebService/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://stuiis.cms.gre.ac.uk/ka5054d/HolidayBookingSystem/EmployeeWebService/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>